// TITLE

.title {
    display: $flex;

    span {
        margin-right: 10px;

        img {
            @media screen and (max-width: $tablet) {
                width: 80% !important;
            }
        }
    }
}

// FONTS

.subtitle {
    font-size: 1.3rem !important;
    font-family: $base;
    text-transform: $uppercase;
}

// COLORS

.color--dark {
    color: $text !important;
}

.color--span {
    color: $span !important;
}

.color--light {
    color: $background !important;
}

.color--primary {
    color: $primary !important;
}

.color--secondary {
    color: $secondary !important;
}

// BACKGROUND 

.background--dark {
    background-color: $second-bg !important;
}

.background--primary {
    background-color: $primary !important;
}

.background--light {
    background-color: $background !important;
}

.background--span {
    background-color: $span !important;
}

.background--second--bg {
    background-color: $second-bg !important;
}

// MARGIN 

.marg {
    margin-top: 2rem;
}

.marg-tablet {
    @media screen and (max-width: $tablet) {
        margin-top: 2rem !important;
    }
}

.marg-mobile {
    @media screen and (max-width: $mobile) {
        margin-top: 2rem !important;
    }
}

// SPACE BETWEEN 

.d-flex-between {
    display: $flex !important;
    justify-content: $space-between !important;
}

.center {
    align-items: $center !important;
    justify-content: $center !important;
}