// FONTS 

$base: "Tajawal", sans-serif;
$title: "Arima", system-ui;
$signing: "Grand Hotel", cursive;

// COLORS

$text: #3a2d32; 
$background: #F5F5F5; 
$primary: #ae979b; 
$secondary: #dbb4ad; 
$accent: #ffe3dc;

// SECOND 

$second-bg: #24181d;

// SIZE 

$zero: 0; 

// WIDTH 

$max: 100%;

// IMAGE 

$cover: cover;

// DISPLAY 

$none: none; 
$block: block;

// POSITION 

$fixed: fixed;
$absolute: absolute;
$relative: relative;