.header {
    .menu-header {
        width: $max !important;
    }

    .navbar-brand {
        .logo {
            width: 15%;

            @media screen and (max-width: $mobile) {
                width: 28% !important;
            }
        }
    }

    .btn-menu {
        z-index: 10;
        border: $none !important;
        position: $relative;
        transition: all .4s ease-in-out;

        span {
            display: block;
            width: 28px;
            height: 2px;
            border-radius: 999px;
            background-color: $primary;
            transition: all .4s ease-in-out;

            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }

    .btn-menu.active {
        transition-delay: 0.8s;
        transform: rotate(45deg);

        span {
            &:nth-child(1) {
                transform: translateY(9px);
            }

            &:nth-child(1),
            &:nth-child(3) {
                transition-delay: .4s;
            }

            &:nth-child(2) {
                width: $zero;
            }

        }
    }
}

.sidebar {
    top: $zero;
    right: -300px;
    height: $max;
    width: 300px;
    padding-top: 60px;
    position: $fixed;
    overflow-x: $hidden;
    transition: right 0.3s ease;
    background-color: $text;

    .menu {
        padding: 0rem 5rem;

        .nav-item {
            &:not(:last-child) {
                margin-bottom: 10px;
            }

            .nav-link {
                @include link-menu;

                &::before {
                    left: 30%;
                    bottom: 0;
                    height: 3px;
                    content: '';
                    width: 0;
                    position: $absolute;
                    visibility: $hidden;
                    transform: translateX(-50%);
                    background-color: $primary !important;
                    transition: all 0.3s ease-in-out;
                }

                &:hover,
                &:focus,
                &:active {
                    color: $primary !important;
                    font-weight: 500;

                    &::before {
                        width: 60%;
                        visibility: visible;

                        @media screen and (max-width: $mobile) {
                            width: 30% !important;

                        }
                    }
                }
            }
        }
    }
}