.project-name, 
.comparison {
    padding: 5rem $zero !important;
}

.project-name {
    h1 {
        @media screen and (max-width: $mobile) {
            font-size: 2.7rem !important;
            margin-top: 5px;
        }
    }
}

.banner {
    padding: $zero !important;

    img {
        width: $max;
        height: 100vh;

        @media screen and (max-width: $mobile) {
            height: 45vh !important;
        }

        @media screen and (max-width: $tablet) {
            height: 60vh;
        }
    }
}

.category {
    p {
        padding-left: 1rem;

        @media screen and (max-width: $mobile) {
            padding-left: $zero !important;
        }
    }
    
    .btn {
        margin-left: 1rem;

        @media screen and (max-width: $mobile) {
            margin-left: $zero !important;
        }
    }
}

.project-images {
    img {
        height: 70vh;
    }
}